name: Basic Checks

on:
  pull_request:
    branches: ["main"]
  workflow_dispatch:
  workflow_call:

env:
  CARGO_TERM_COLOR: always
  RUSTC_BOOTSTRAP: 1

jobs:
  check:
    name: Format & Lint
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Get Rust version
        run: |
          echo RUSTUP_TOOLCHAIN=$(cat ./scripts/build/channel) >> $GITHUB_ENV

      - name: Install Rust toolchain
        uses: dtolnay/rust-toolchain@stable
        with:
          toolchain: ${{ env.RUSTUP_TOOLCHAIN }}
          components: clippy,rustfmt,llvm-tools,rust-src,rustc-dev

      - name: Cache dependencies
        uses: Swatinem/rust-cache@v2
        with:
          save-if: ${{ github.ref == 'refs/heads/main' }}

      - name: Check formatting
        run: cargo fmt --check

      - name: Run clippy
        run: cargo clippy --all-targets --all-features -- -D warnings

  test:
    name: Build & Test
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Cache dependencies
        uses: Swatinem/rust-cache@v2

      - name: Build release
        run: ./scripts/build/toolchain cargo build --release

      - name: Install binary
        run: ./scripts/build/toolchain cargo install --path .

      - name: Test rustowl check
        run: rustowl check ./perf-tests

  vscode:
    name: VS Code Extension Checks
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Setup Node.js
        uses: actions/setup-node@v6
        with:
          node-version: 20

      - name: Setup PNPM And Install dependencies
        uses: pnpm/action-setup@v4
        with:
          package_json_file: ./vscode/package.json
          run_install: |
            - cwd: ./vscode

      - name: Check formatting
        run: pnpm prettier -c src
        working-directory: ./vscode

      - name: Lint and type check
        run: pnpm lint && pnpm check-types
        working-directory: ./vscode

      - name: Run tests
        run: xvfb-run -a pnpm run test
        working-directory: ./vscode
